{% extends 'base.html.twig' %}

{% block title %}Détail de {{ product.name }}{% endblock %}

{% block body %}
<main class="detail">
    <section class="col">
        <div>
            <h1>{{ product.name }}</h1>
        </div>

        <div class="col">
            <p>Images</p>
            {% for image in product.images %}
                {# <pre> {{ dump(image) }} </pre> #}
                <img src="{{ asset('assets/uploads/') ~ image.name  }}">
            {% endfor %}
        </div>

        <div class="col">
            <p>{{ product.description }}</p>
            <p>Categorie : {{ product.categories.name }}</p>
            <p>Prix : {{ product.price/100}} €</p>
            <p>Stock : {{ product.stock}}</p>
            {% if product.stock > 0 %}
                <a href="#">Ajouter au Panier</a>
            {% else %}
                <p class="red">Produit actuellement indisponible !</p>
            {% endif %}
    </section>
</main>
{% endblock %}
